<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>消耗品通知botくんポータル</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<style type="text/css">
	.login-form {
		width: 800px;
    	margin: 100px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">消耗品通知botくんポータル</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home/">ホーム</a></li> 
        <li><a href="/setting/">設定変更</a></li>      
      </ul>
      <ul class="nav navbar-nav navbar-right">
  {% if login %}
  <li id="logout"><a href="/logout/">ログアウト</a></li>     
  {% else %}
  <li id="login"><a href="/login/">ログイン</a></li> 
  {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="login-form">
    <form action="/setting/" method="post">
        <h2 class="text-center">ホーム</h2>    
        <h4>ステータス</h4>  
        <div class="alert alert-info text-center" role="alert">
            現在、{{values.name}}は<strong>{{values.now}}個</strong>あります。
        </div>
        <h4>設定情報</h4>  
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>項目</th>
                    <th>値</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>消耗品の名前</th>
                    <td>{{values.name}}</td>
                </tr>
                <tr>
                    <th>消耗品の1個当たりの重さ</th>
                    <td>{{values.weight}}</td>
                </tr>
                <tr>
                    <th>LINE通知個数</th>
                    <td>{{values.count}}</td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>                                		                            
